.message-location {
  display: flex;
  flex-basis: 100%;
  flex-flow: column;
  margin: 5px;
  border: 1px solid black;
}

.input-bar {
  flex-basis: 20px;
  width: 90%;
  margin: 5px;
}

.submit {
  text-align: center;
  margin-bottom: 5px;
}

.send-btn {
  margin: 5px;
  flex-basis: 30px;
  width: 90%;
}

.chat-header {
  background-color: #1f2f53;
  font-weight: 600;
  font-size: 150%;
  color: white;
  margin-bottom: 5px;
  height: 35px;
  text-align: center;
}

.message {
  margin-left: 2px;
  font-size: 14px;
}
.message-display {
  flex-grow: 1;
  max-height: calc(100vh - 350px);
  overflow-y: scroll;
}
