.player-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-basis: calc(20% - 5px);
  justify-content: center;
  border: 0px;
}

.center {
  text-align: center;
}

.username {
  font-size: 30px;
  text-align: center;
}

.conditional {
  display: inline;
}

.emptyDiv {
  height: 24px;
  text-align: center;
}
